:root {
    --primary-color: #1a75bc;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --font-family: Arial, sans-serif;
    --base-font-size: 16px;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-size: var(--base-font-size);
}

.container {
    width: 300px;
    padding: 16px;
    background-color: white;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0px 0px 10px 0px #000;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

hr {
    border: 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #fff;
}

label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-sizing:border-box;
}

.registerbtn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-color: #1c87c9;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.registerbtn:hover {
    background-color: #1a75bc;
}
/***************************Dashboard*************************/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: #1c87c9; /* Change this to your preferred shade of gray */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}
.grid-item {
    background-color: #f3f3f3;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.burger {
    cursor: pointer;
    display: block;
}

.burger span {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #333;
}

.nav {
    /*display: none;*/
    list-style-type: none;
    padding: 0;
}
li {
    margin-top: 1rem;
}
#avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav li a {
    text-decoration: none;
    color: #333;
}
.sidebar hr {
    width: 100%;
    border: 0;
    border-top: 2px solid #efefef;
}
.sidebar {
    display: flex;
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: #333;
    padding: 20px;
    color: #fff;
    flex-direction: column;
    align-items: center;
}


.sidebar p {
    margin-bottom: 20px;
}

.sidebar .nav {
    list-style-type: none;
    padding: 0;
}

.sidebar .nav li {
    margin-bottom: 10px;
}

.sidebar .nav li a {
    color: #fff;
    text-decoration: none;
}
.dash{
    margin-top: 1rem;
    margin-right: 1rem;
    width: 80%;
    height: 40rem;
    float: right;
}

.content {
    margin-left: 250px;
    padding: 20px;
}



.tableauTravel table {
    width: 100%;
    border-collapse: collapse;
}

.tableauTravel th, .tableauTravel td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tableauTravel tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableauTravel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1a75bc;
    color: white;
}

.tableauTravel a {
    color: #ffffff;
    text-decoration: none;
}

.tableauTravel a:hover {
    text-decoration: underline;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}
.add {
    background-color: #1a75bc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.add:hover {
    background-color: #0e4d7a;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fafafa; /* Couleur de fond plus douce */
  margin: 1% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px; /* Bordures arrondies */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Ombre portée */
  width: 50%;
}

.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content input[type="number"],
.modal-content input[type="date"],
.modal-content select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.modal-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: vertical; /* Permet à l'utilisateur de redimensionner le textarea verticalement */
}

.modal-content label {
    font-size: 1em;
    color: var(--secondary-color);
    display: block;
    margin-bottom: .3125rem;
}

.modal-content input[type="submit"] {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.125em;
    transition: background-color 0.3s ease;
}

.modal-content input[type="submit"]:hover {
    background-color: #0e4d7a;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.2s; /* Transition douce */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.notification {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}


/***************************responsive*************************/
@media (max-width: 600px) {
    .burger {
        display: block;
    }
}